<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48104674599-9bpsqvaco40uf3hloac8ippnvs05ska4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48104674599-9bpsqvaco40uf3hloac8ippnvs05ska4</string>
	<key>API_KEY</key>
	<string>AIzaSyAbTxpZuNrth2r69rY0sGeXxxH0z0vv7g4</string>
	<key>GCM_SENDER_ID</key>
	<string>48104674599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.klsc-app</string>
	<key>PROJECT_ID</key>
	<string>klsc-app</string>
	<key>STORAGE_BUCKET</key>
	<string>klsc-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48104674599:ios:aac52db92b091c2c</string>
	<key>DATABASE_URL</key>
	<string>https://klsc-app.firebaseio.com</string>
</dict>
</plist>